
.section1 img{
    height:120px;
}
*{
    font-family: 'Inter', sans-serif;
}

.section1{
    background-image:url(images/solarheaderflipped.jpg);
    background-repeat: no-repeat;
    height:55vh;
    background-size: 100%;
    background-position: center;
    display: flex;
}

.section1, .heading, .container{
  display:flex;
  justify-content: space-between;
}
.heading{
  display: flex;
  align-content: center;
  margin-left: 3vw;
}
.section2{
    background-color: rgba(159, 180, 199, 0.2);
    box-shadow: 10px 10px 10px 10px  rgba(0,0,0,0.2);
}
.container,.transparent{
    display: flex;
    justify-content: flex-end;
    background-color: transparent;

}
.form{
   background-color: rgba(255, 255, 255, 0.7);
    width: auto;
    height:45vh;
    padding: 30px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 20px;
}
::placeholder{
  font-size: 20px;
}
input{
    height: 5vh;
    border-radius: 5px;
    font-size: 17px;
  
}
label{
    border:gray 300px;
    border-radius: 10px; 
    
}
.writtenInfo, label{
    display: flex;
padding-top: 10px;
    flex-direction: row;
    padding-bottom: 0px;
}
.inputs-container {
    display: flex;
    justify-content: space-between;
  }
  
  .input-wrapper {
    flex: 1;
    margin-right: 10px; 
  }
  .inputs-container >input{
    color: grey;
    border-radius: 10px;
    height: 5vh;
  }
 
  


.billHeading, .BillTitle, .BillTitleSub{
    display: flex;
    justify-content: center;

}
label{
    font-size: 20px;;
}
#attachment{
    font-size: 18px;
}
.BillTitleSub{
    color:grey;
    font-size: 25px ;
}
.bill{
    display:flex;
    justify-content: space-around;
    margin-top: 30px;
    padding-top: 20px;
}
button{
   
    color:white;
    background-color:#2C365E;
    margin-top: 30px;
    border-radius: 10px;
    height: 5vh;
    width: 40vw;
    font-size: 20px;
}
button:hover{
  height:7vh;
  width:45vw;
}
.submitBill{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.theSteps{
    display: flex;
    justify-content: space-around;
   gap:50px;
}
.check, .herelogo, .next{
    height:50px;
    
}

.step1, .number1, .stepTitle1 {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.step2, .number2, .stepTitle2 {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .step3, .number3, .stepTitle3 {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .howItWorks{
    display: flex;
    justify-content: center;
margin-top: 80px;
  }
  
 
  .section3{
    height: 40vh;
    width: 100vw;
    background-color:rgba(236, 232, 232, 0.849);
    margin:0px;
   
    box-shadow: 10px 10px 10px 10px  rgba(0,0,0,0.2);
  }
  
  .articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
    justify-items: center;
    gap: 20px; /* Adjust the gap as needed */
    padding: 30px 50px; /* Adjust the padding as needed */
    
  }
  
  .articleTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
  }
  
  .articleTitle a {
    text-decoration:underline;
    color: black;
    font-size: 20px;
    color:#2C365E;
  
  }
  
  :hover.articleTitle a {
font-weight: bold;
  }
  .articleTitle img {
    height: 20vh;
    width: 20vw;
    margin-top: 20px; 
  }
  
  
  .latestNews{
    display: flex;
    justify-content: center;
padding-top: 50px;
padding-bottom: 35px;
  }

  .footer{
    background-color: #2C365E;
    
   
  }
.footer p{
font-size: 20px;
color:white;
margin-right: 20px;
text-decoration: none;
}
.footer img{
  height:5vh;
  color: white;
}
.footer,.left, .right{
  display:flex;
  flex-direction: row;
  gap:30px;
  justify-content: space-between;
  align-items: center;
 
  
}

.left>.logo{
  height:10vh;
  margin-left: 20px;
}
/* Styles for mobile screens */
@media (max-width: 1150px) {
.container{
  width: 175px;
 
}
  .section1 img{
    height: 150px;
    width: 150px;
}
  .heading{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
   
  }
  
  .form {
    flex-direction: column;
    height: auto;
  }
  
  .inputs-container {
    flex-direction: column;
  }
  
  .input-wrapper {
    margin-right: 0;
    margin-bottom: 10px;
  }
  
  .inputs-container > input {
    width: 100%;
  }
  
  .bill {
    flex-direction: column;
    align-items: center;
  }
  
  button {
    width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  
  /* Adjust the section titles */
  .howItWorks,
  .latestNews {
    text-align: center;
    margin-top:20px;
    padding: 10px;
  }

  /* Adjust the article layout */
  .articles {
    display: flex;
  flex-direction: column;
  }
  .section3{
    height: auto;
  }
.section1{
  height: auto;
  background-size: 200%;
  
}
}
@media (max-width: 650px) {
 
    .section1 img{
      height: 100px;
      width: 100px;
      margin-left: 0;
  }
  .heading h1{
    font-size: 20px;
    width: 1vw;
    margin-left: 1vw;
  }
  
}
@media (max-width: 430px) {
 
  .section1 img{
    height: 50px;
    width: 50px;
    margin-left: 0;
}
.heading h1{
  font-size: 17px;
  width: 150px;
  height:80px;
  margin-left: 1vw;
}
input{
 height:15px;
}
::placeholder{
  font-size: 15px;
}
label{
  margin-left: 10px;
  font-size: 15px;
}
.BillHeading{
  font-size: 10px;
}
.BillTitleSub{
  font-size: 18px;
  margin-left: 25px;
}

.submitBill{
  padding: 15px;
  font-size: 10px;
}
.bill{
  margin: 0;
  padding: 0;
 
}
.bill label{
  font-size: 15px;
}
.container{
  margin-top: 5vh;
  margin-left: 3vw;
  width: 50px;
 
}

.section1{
background-size: 250%;
background-position: -175px 0;
}

.heading{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}
#attachment{
  height: 50px;
  width: 75px;
}
button{
  font-size: 13px;
}
.howItWorks, .latestNews{
  font-size: 20px;
  padding: 0px;
}
.section2{
  font-size: 10px;
}
.section3 a{
  font-size: 15px;
}
.section3 img{
  width:150px;
}
.footer p{
font-size:15px;
}

}

